<div class="blog-container">
  <ng-container *ngIf="isEditing; else viewMode">
    <!-- Editing Mode -->
    <div class="edit-mode">
      <input [(ngModel)]="editableBlog.title" placeholder="Edit Title" class="edit-title" />
      <input [(ngModel)]="editableBlog.imageUrl" placeholder="Edit Image URL" class="edit-image-url" />
      <textarea [(ngModel)]="editableBlog.content" placeholder="Edit Content" class="edit-content"></textarea>
      <div class="button-group">
        <div class="work-buttons">
          <button (click)="saveChanges()" class="save-button">Save</button>
          <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
        </div>
        <button class="delete-button" (click)="deleteBlog()">Delete</button>
      </div>
    </div>
  </ng-container>

  <!-- Viewing Mode -->
  <ng-template #viewMode>
    <section class="blog-content">
      <button (click)="editBlog()">Edit</button>
      <h2>{{ blog.title }}</h2>
      <img class="blog-image" [src]="blog.imageUrl" alt="{{ blog.title }}" />
      <p>{{ blog.content }}</p>
      <app-comment-section></app-comment-section>
    </section>
  </ng-template>
</div>
